*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #666666;
}
a:hover{
	color:#FF6505;
}
/*全局样式*/
body{
	color: #666;
	font: 14px "microsoft yahei",arial;
}
.lf{
	float: left;
}
.rf{
	float: right;
}
.rel{
	position: relative;
}
.abs{
	position: absolute;
}
.clearfix:before,
.clearfix:after{
	content: '';
	display: table;
}

.clearfix:after{
	clear: both;
}
