/*页面样式布局*/
#logo_nav,
#download .m-content,
#main,
#footer>div
{
	width: 1000px;
	margin: 0 auto;
}

/*微信扫一扫*/
.mapSite .weixin{
	display: none;
	bottom: 30px;
	right: 23px;
	border-top: 1px solid #eee;
}
/*主导航*/
#logo_nav>ul>li{
	float: left;
	position: relative;
}
#logo_nav>a{
	margin-top: 16px;
}
.main_nav>li>a{
	display: block;
	line-height: 76px;
	font-size: 22px;
	color: black;
	margin: 0 35px;
	padding: 0 7px;
}
.main_nav>li:nth-of-type(1)>a{
	border-bottom: orange solid 3px;
}

/*默认子导航*/
.main_nav>li ul{
	z-index: 1000;
	display: none;
	position: absolute;
	line-height: 32px;
	width: 140px;
	text-align: center;
	background: rgba(255,255,255, .9);
}

/*鼠标经过子导航li*/
.main_nav>li ul li:hover{
	background: rgba(241,241,241, .8);
}
.main_nav>li ul a{
	display: block;
}
/*箭头*/
.main_nav>li ul .arrow{
	width: 20px;
	height: 10px;
	background: url(../img/ico_down_arrow.png);
	margin: 0 auto;
	position: relative;
	top: -7px;
}
/*鼠标经过主导航,显示子导航*/
/*.main_nav>li:hover ul{
	display: block;
}*/
.main_nav a:hover{
	color: orange;
}
/*广告banner*/
#banner{
	height: 400px;
	/*position: relative;*/
	overflow: hidden;
}
#banner img{
	position: absolute;
	left: 50%;
	margin-left: -975px;
}


/*下载平台*/
#download{
	height: 170px;
	border-bottom: 1px solid #ddd;
}
#download ul{
	padding-top: 40px;
}
#download li{
	position: relative;
	float: left;
	width: 100px;
	margin: 0 20px;
	text-align: center;
}

/*图标盒子*/
#download li .icon{
	transition: .3s;
	margin: 0 auto;
	width: 75px;
	height: 62px;
	background:url(../img/ico.png) no-repeat;
	margin-bottom:10px ;
}

/*第二个图标*/
#download ul li:nth-of-type(2) .icon{
	background:url(../img/ico.png) -140px 0 no-repeat;
}
#download ul li:nth-of-type(3) .icon{
	background:url(../img/ico.png) -284px 0 no-repeat;
}
#download ul li:nth-of-type(4) .icon{
	background:url(../img/ico.png) -427px 0 no-repeat;
}
#download ul li:nth-of-type(5) .icon{
	background:url(../img/ico.png) -569px 0 no-repeat;
}
#download ul li:nth-of-type(6) .icon{
	background:url(../img/ico.png) -711px 0 no-repeat;
}

/*鼠标经过图标*/
#download li:hover .icon{
	background:url(../img/ico.png) 0 -120px no-repeat;
}
#download li:nth-of-type(2):hover .icon{
	background:url(../img/ico.png) -140px -120px no-repeat;
}
#download li:nth-of-type(3):hover .icon{
	background:url(../img/ico.png) -284px -120px no-repeat;
}
#download li:nth-of-type(4):hover .icon{
	background:url(../img/ico.png) -427px -120px no-repeat;
}
#download li:nth-of-type(5):hover .icon{
	background:url(../img/ico.png) -569px -120px no-repeat;
}
#download li:nth-of-type(6):hover .icon{
	background:url(../img/ico.png) -711px -120px no-repeat;
}
#download li:hover div:nth-of-type(2){
	display: none;
}
#download li:hover div:nth-of-type(3){
	display: block;
	color: #FF6505;
}

/*隐藏立即下载*/
#download li div:nth-of-type(3){
	display: none;
}
/*主题内容*/

#main{
	padding-top: 60px;
}
#main .column{
	float: left;
	width: 290px;
}
#main .column:nth-of-type(2){
	margin: 0 65px;
}
#main .header{
	margin-bottom:20px;
	color: #333;
}
#main .header a:hover{
	color: #FF6505;
}



#main li{
	line-height: 28px;
}
.imgBox p{
	margin-bottom: 15px;
	background: #F2F2F2;
	line-height: 36px;
	text-align: center;
}
.imgBox a:hover{
	color: #FF6505;
}
#main ul{
	margin-bottom: 30px;
}	
/*#logo_nav>ul>li ul{
	display: none;
}*/
#footer{
	background: #333;
	
}
.product_links{
	padding: 36px 0 25px 0;
}
.product_links ul{
	width: 166px;
	line-height: 24px;
}
.product_links ul a{
	color: #AAAAAA;
}
.product_links ul a:hover{
	color: #FF6505;
}
.product_links ul,
.product_links dl{
	float: left;
}

.mapSite dt {
	padding-left: 8px;
	width: 140px;
	line-height: 24px;
	border: 1px solid #434343;
	background: url(../img/ico_lang_arrow.png) 113px 3px no-repeat;
	margin-bottom:15px;
}

.mapSite dt span {
	padding-left: 20px;
	background: url(../img/ico.png) -8px -252px no-repeat;
}

.mapSite dl {
	display: none;
	width: 130px;
	background: rgba(255, 255, 255, .9);
	line-height: 30px;
	bottom: 31px;
	left:0;
}

/*鼠标经过显示子导航*/
.mapSite dt:hover dl {
	display: block;
}
.mapSite dt a {
	padding-left: 12px;
	display: block;
}

.mapSite dl a:hover {
	color: #FF6505;
	background: rgba(241, 241, 241, .8);
	display: block;
}


/*箭头*/

.mapSite .arrow {
	position: relative;
	top: 10px;
	left: 10px;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #fff;
}
.mapSite>dd{
	line-height:26px;
}
.mapSite dd span{
	display:inline-block;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	background:url(../img/ico.png) -8px -284px
}
.mapSite dd:nth-of-type(2) span{
	background: url(../img/ico.png) -8px -378px;
}
.mapSite dd:nth-of-type(3) span{
	background: url(../img/ico.png) -8px -410px;
}
.mapSite dd:nth-of-type(4) span{
	background: url(../img/ico.png) -8px -311px;
}
.mapSite dd:nth-of-type(5) span{
	background: url(../img/ico.png) -8px -341px;
}
.mapSite dd:nth-of-type(6) span{
	background: url(../img/ico.png) -8px -445px;
}
.mapSite dd:hover span{
	background: url(../img/ico.png) -48px -284px;
}
.mapSite dd:nth-of-type(2):hover span{
	background: url(../img/ico.png) -48px -378px;
}
.mapSite dd:nth-of-type(3):hover span{
	background: url(../img/ico.png) -48px -410px;
}
.mapSite dd:nth-of-type(4):hover span{
	background: url(../img/ico.png) -48px -311px;
}
.mapSite dd:nth-of-type(5):hover span{
	background: url(../img/ico.png) -48px -341px;
}
.mapSite dd:nth-of-type(6):hover span{
	background: url(../img/ico.png) -48px -445px;
}
.friendly_links{
	font-size: 12px;
	border-top: 1px dotted #595959;
}
.friendly_links>div{
	border-bottom: 1px dotted #595959;
	padding: 10px;
	padding-left: 0;
}
.friendly_links a{
	margin: 0 7px;
}
.friendly_links .links{
	margin-left: 7px;
}
.friendly_links .arrows{
	right: 0;
	bottom: 10px;
	width: 16px;
	height: 16px;
	background: url(../img/ico.png) -105px -248px;
}

.hidden{
	display: none;
}

.copyright{
	padding:20px 0 60px 0;
}
.copyright p {
	width: 400px;
	margin:0 100px 0 20px;
}
.copyright img {
	margin-top:10px;
}


#download .new_icon{
	display: none;
	position: absolute;
	right: 15px;
	top: -2px;
	width: 23px;
	height: 11px;
	background: url(../img/ico_new.png);
}
.YS{
	right: 0;
	top: -20px;
	text-align: center;
	z-index: 100;
}


